.DS_Store
Thumbs.db
dist/
!dist/
dist/*
!dist/check.d.ts
!dist/check.js
!dist/check.js.map
!dist/dslql/
!dist/dslql/*
!dist/model/
dist/model/*
!dist/model/declarations.d.ts
!dist/model/declarations.js
!dist/model/declarations.js.map
node_modules/
*.vsix
.llmthink/
